:root {
  --main-color: #2196f3;
  --main2-color: #ececec;
  --main3-coler: #666666;
  --main-shadow: #9e9e9e;
  --main-tansition: .3s;
  --main-line-height: 1.7;
  --main-padding: 70px;

}

@keyframes up {
  0% {}

  100% {
    transform: translateY(-70px);
  }
}

@keyframes up-b {
  0% {}

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(-25px);
  }

  60% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes arrow {
  0% {}

  100% {
    transform: translateX(20px);
  }

}

@keyframes flash {
  0% {}

  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

}

@keyframes background {
  0% {
    background-image: url(../img/discount-background1.jpg);
  }

  100% {
    background-image: url(../img/discount-background2.jpg);
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-items: center;
}

.header-h {
  margin: 50px auto;
  text-transform: uppercase;
  position: relative;
  width: fit-content;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 30px;
  transition: .5s .5s;
  z-index: 1;
}

.header-h:hover {
  color: white;
  border-color: white;
}

.header-h::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  background-color: var(--main-color);
  transition: 1s;
}

.header-h::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  background-color: var(--main-color);
  transition: 1s;
}

.header-h:hover::before {
  width: 50%;
  height: 100%;
  border-radius: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
}

.header-h:hover::after {
  width: 50%;
  height: 100%;
  border-radius: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.spikes {
  position: relative;
}

.spikes::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  position: relative;
}

.dots::before,
.dots::after {
  content: "";
  position: absolute;
  background-image: url(../img/dots.png);
  background-size: cover;
  width: 25%;
  height: 25%;
  z-index: 1;
}

.dots::before {
  top: 10%;
  right: 0%;
}

.dots::after {
  bottom: 10%;
  left: 0%;
}

@media (min-width:768px) {
  .container {
    width: 750px
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px
  }
}


/* header */
header {
  position: relative;
  box-shadow: 0 0 10px #b9b9b9;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .container h3 {
  color: var(--main-color);
  font-size: 30px;
  padding: 15px 0;
}


header .container ul.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

header .container ul.links>li>a {
  display: flex;
  padding: 25px 30px;
  font-size: 20px;
  position: relative;
  color: var(--main3-coler);
  transition: var(--main-tansition);
  overflow: hidden;
  white-space: nowrap;
}


header .container ul.links>li>a:hover {
  background-color: var(--main2-color);
}

header .container ul.links>li>a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  left: -100%;
  top: 0;
  transition: var(--main-tansition);
}

header .container ul.links>li>a:hover::before {
  left: 0;
}


header .container ul.links li:last-child:hover .short-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 5px);
}


header .container .short-menu {
  opacity: 0;
  display: flex;
  position: absolute;
  background-color: white;
  left: 0px;
  width: 100%;
  border-bottom: 3px solid var(--main-color);
  justify-content: space-evenly;
  align-items: flex-start;
  top: calc(100% + 60px);
  z-index: -1;
  transition: all var(--main-tansition);
}

header .container .short-menu .img {
  flex-basis: 46%;
  margin-bottom: 25px;
}

@media (max-width:991px) {

  header .container .short-menu .img {
    display: none;
  }
}

header .container .short-menu .img img {
  width: (100%);
}

header .container .short-menu ul.menu-links {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 0px 40px;
  flex: 1;
}


header .container .short-menu ul.menu-links li {
  padding: 15px 10px;
  font-size: 17px;
  font-weight: bold;
  color: var(--main-color);
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--main3-coler);
}



@media (max-width:767px) {

  header .container {
    justify-content: center;
    flex-direction: column;
  }

  header .container ul.links>li>a {
    padding: 15px 10px;
    font-size: 20px;

  }

  header .container .short-menu ul.menu-links {
    grid-template-columns: 1fr;
  }

  header .container .short-menu ul.menu-links li:last-child {
    border-color: transparent;
  }
}

header .container .short-menu ul.menu-links li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background-color: var(--main2-color);
  z-index: -1;
  transition: var(--main-tansition);
}

header .container .short-menu ul.menu-links li:hover::before {
  left: 0;
}

header .container .short-menu ul.menu-links li i {
  margin-right: 15px;
}

/* .landing */
.landing {
  height: calc(100vh - 250px);
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  background-color: var(--main2-color);
  width: 100%;
  height: 115%;
  left: 0px;
  top: -80px;
  transform: skewY(353deg);
  z-index: -1;
}

.landing .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.landing .container>div {
  flex: 1;
}

.landing .container a {
  position: absolute;
  animation: up-b 1s infinite;
  bottom: 49px;
}

.landing .container a i {
  font-size: 30px;
  color: var(--main-color);
}

.landing .container .content {
  margin: 15px;
}

.landing .container .content h1 {
  font-size: 40px;
  margin: 10px 0;
}

.landing .container .content p {
  font-size: 24px;
  line-height: var(--main-line-height);
  color: var(--main3-coler);
}

.landing .container .img {
  width: 500px;
  animation-name: up;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.landing .container .img img {
  width: 100%;
}

@media (max-width:991px) {

  .landing .container .img {
    display: none;
  }

  .landing .container .content {
    text-align: center;
  }
}

/* articles */
.articles {
  padding: var(--main-padding) 0px;
}

.articles .cards .card {
  width: 250px;
  border-radius: 7px;
  overflow: hidden;
  margin: 25px 10px;
  box-shadow: 0 0 10px 1px var(--main-shadow);
}

.articles .cards .card img {
  width: 100%;
}

.articles .cards .card .text {
  padding: 15px;
  line-height: var(--main-line-height);
}


.articles .cards .card hr,
.articles .cards .card p {
  color: var(--main3-coler);
  margin-bottom: 15px;
}


.articles .cards .card h4 {
  position: relative;
  color: var(--main-color);
}

.articles .cards .card h4::before {
  content: "\f178";
  position: absolute;
  font-family: "fontawesome";
  right: 20px;
  font-size: 12px;
}

.articles .cards .card:hover h4::before {
  animation-name: arrow;
  animation-duration: .7s;
  animation-iteration-count: infinite;
}

/* gallery */
.gallery {
  background-color: var(--main2-color);
  padding: var(--main-padding) 0;
  position: relative;
}

.gallery .gallery-boxs .ing-box {
  border: 15px solid white;
  overflow: hidden;
  position: relative;
}

.gallery .gallery-boxs .ing-box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff33;
  opacity: 0;
  z-index: 2;
}

.gallery .gallery-boxs .ing-box:hover::before {
  animation: flash var(--main-tansition);
}

.gallery .gallery-boxs .ing-box img {
  width: 100%;
  transition: var(--main-tansition);
}

.gallery .gallery-boxs .ing-box:hover img {
  transform: rotate(6deg) scale(1.1);
}

/* features */
.features {
  padding: var(--main-padding) 0;

}

.features .container .features-cards .feature-card {
  overflow: hidden;
  border: 1px solid var(--main3-coler);
}

.features .container .features-cards .feature-card .img {
  position: relative;

}

.features .container .features-cards .feature-card .img img {
  width: 100%;
}

.features .container .features-cards .feature-card .img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.features .container .features-cards .feature-card .text {
  padding: 15px;
  line-height: var(--main-line-height);
  position: relative;
  z-index: 1;
  text-align: center;
}

.features .container .features-cards .feature-card .text::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: -100px;
  transition: var(--main-tansition);
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 0px 0px 135px 500px;
  transition: var(--main-tansition);
}

.features .container .features-cards .feature-card:hover .text::before {
  border-width: 0px 353px 100px 500px;
}

.features .container .features-cards .feature-card .text h2 {
  font-size: 40px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.features .container .features-cards .feature-card .text h2::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 3px;
}

.features .container .features-cards .feature-card .text p {
  color: var(--main3-coler);
  margin-bottom: 15px;
}

.features .container .features-cards .feature-card .text h3 {
  overflow: hidden;
  border: 3px solid transparent;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 7px;
  transition: var(--main-tansition);
}

.features .container .features-cards .feature-card:first-child .img::before {
  background-color: rgba(255, 0, 0, 20%);
  ;
}

.features .container .features-cards .feature-card:nth-child(2) .img::before {
  background-color: rgba(0, 255, 0, 20%);
}

.features .container .features-cards .feature-card:last-child .img::before {
  background-color: rgba(0, 0, 255, 20%);
  ;
}

.features .container .features-cards .feature-card:first-child .text h3 {
  color: red;
  border-color: red !important;
  background: linear-gradient(to right, red 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .features-cards .feature-card:nth-child(2) .text h3 {
  color: green;
  border-color: green !important;
  background: linear-gradient(to right, green 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .features-cards .feature-card:last-child .text h3 {
  color: blue;
  border-color: blue !important;
  background: linear-gradient(to right, blue 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .features-cards .feature-card:hover .text h3 {
  color: white;
  background-position: left bottom;
}

.features .container .features-cards .feature-card:first-child .text h2::before {
  background-color: red;
}

.features .container .features-cards .feature-card:nth-child(2) .text h2::before {
  background-color: green;
}

.features .container .features-cards .feature-card:last-child .text h2::before {
  background-color: blue;
}

/* testimonials */
.testimonials {
  background-color: var(--main2-color);
  padding: var(--main-padding) 0;
}

.testimonials .container .test-cards .test-card {
  background-color: white;
  border-radius: 7px;
  padding: 15px;
  position: relative;
}

.testimonials .container .test-cards .test-card .img {
  width: 100px;
  border-radius: 50%;
  border: 10px solid var(--main2-color);
  position: absolute;
  top: -50px;
  right: -10px;
  overflow: hidden;
}

.testimonials .container .test-cards .test-card .img img {
  width: 100%;
}

.testimonials .container .test-cards .test-card .stars {
  color: rgb(255, 255, 65);
}

.testimonials .container .test-cards .test-card span,
.testimonials .container .test-cards .test-card p {
  display: block;
  margin: 10px 0;
  color: var(--main3-coler);
  line-height: var(--main-line-height);
}

/* team */
.team {
  padding: var(--main-padding) 0;

}

.team .boxs .box {
  position: relative;
  margin: 20px;
  transition: var(--main-tansition);
}


.team .boxs .box::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 115%;
  background-color: var(--main2-color);
  z-index: -1;
  bottom: 0;
  right: 0px;
  border-radius: 7px;
}

.team .boxs .box::after {
  position: absolute;
  content: "";
  height: 115%;
  background-color: #b3b3b375;
  z-index: 1;
  bottom: 0;
  right: 0px;
  border-radius: 7px;
  transition: var(--main-tansition);
  width: 0;
}

.team .boxs .box:hover::after {
  width: 80%;
}

.team .boxs .box .flex {
  display: flex;
}

.team .boxs .box h3 {
  color: var(--main-color);
  margin: 10px 0px 10px 90px;
}

.team .boxs .box p {
  color: var(--main3-coler);
  line-height: var(--main-line-height);
  margin: 10px 0px 10px 90px;
  font-size: 12px;
}

.team .boxs .box .img {
  width: 300px;
  border-radius: 7px;
  overflow: hidden;
}

.team .boxs .box:hover h3,
.team .boxs .box:hover .img {
  filter: grayscale(100%);
}

.team .boxs .box .img img {
  width: 100%;
}

.team .boxs .box .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.team .boxs .box .icons i {
  color: var(--main3-coler);
  margin: 15px;
  font-size: 14px;
  transition: var(--main-tansition);
  position: relative;
  z-index: 2;
}

.team .boxs .box .icons i:hover {
  color: var(--main-color);
  filter: grayscale(0%);
}

/* services */
.services {
  padding: var(--main-padding) 0;
  background-color: var(--main2-color);
}

.services .container .box {
  box-shadow: 0px 0px 5px 1px #c5c5c5;
  background-color: white;
  position: relative;
  transition: var(--main-tansition);
}

.services .container .box:hover {
  transform: translateY(-10px);
}

.services .container .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-tansition);
}

.services .container .box:hover::before {
  width: 100%;
}

.services .container .box .content {
  padding: 30px;
  text-align: center;
  width: 350px;
}

.services .container .box .content i {
  font-size: 60px;
  color: #9e9e9e75;
}

.services .container .box .content h3 {
  margin: 18px;
  color: var(--main-color);
  font-size: 25px;
}

.services .container .box .link {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}

.services .container .box .link span {
  position: relative;
  color: white;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  padding: 7px 25px;
}

.services .container .box .link span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transform: skewX(319deg)scale(1.5);
  left: -25px;
}

.services .container .box .link span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main2-color);
  z-index: -2;
  transform: skewX(319deg)scale(2);
  left: 7px;
}

.services .container .box .link a {
  color: var(--main-color);
  padding-right: 25px;
}

/* our skills */
.our-skills {
  padding: var(--main-padding) 0;
}

.our-skills .container {
  display: flex;
  justify-content: space-evenly;
}

.our-skills .container .img {
  width: 500px;
}

@media (max-width:991px) {

  .our-skills .container .img {
    display: none;
  }
}

.our-skills .container .img img {
  width: 100%;
}

.our-skills .container .data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.our-skills .container .data .skill h3 {
  margin-bottom: 10px;
}

.our-skills .container .data .skill>div {
  background-color: var(--main2-color);
  height: 30px;
  width: 600px;
  position: relative;
}

@media (max-width:1199px),
(min-width:992px) {

  .our-skills .container .data .skill>div {

    width: 450px;
  }
}

@media (max-width:992px) {
  .our-skills .container .data .skill>div {

    width: 300px;
  }

  .our-skills .container .data {
    height: 450px;
  }
}

.our-skills .container .data .skill>div>span {
  background-color: var(--main-color);
  height: 100%;
  display: block;
}

.our-skills .container .data .skill>div::before {
  content: attr(prog-data);
  color: var(--main-color);
  padding: 3px 5px;
  border: 1px solid var(--main3-coler);
  top: -40px;
  right: 0;
  border-radius: 3px;
  position: absolute;
  font-weight: bold;
  font-size: 12px;
}

/* how */
.how {
  padding: var(--main-padding) 0;
  background-color: var(--main2-color);
}

.how .container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.how .container>.img {
  width: 400px;
  margin: 60px;
}

.how .container>.img img {
  width: 100%;
}

.how .container .work-cards {
  display: grid;
}

.how .container .work-cards .work-card {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  min-width: 200px;
  align-items: center;
  padding: 15px;
  border: 1px solid white;
  border-radius: 7px;
  margin-bottom: 20px;
  background-color: #f4f4f4;
}

.how .container .work-cards .work-card::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main2-color);
}

.how .container .work-cards .work-card:hover::before {
  animation: flash var(--main-tansition);
  animation-fill-mode: both;
}

.how .container .work-cards .work-card .img {
  width: 100px;
  margin: 25px;
  position: relative;
}

.how .container .work-cards .work-card .img img {
  width: 100%;
}

.how .container .work-cards .work-card .text {
  position: relative;
}

.how .container .work-cards .work-card .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.how .container .work-cards .work-card .text p {
  color: var(--main-shadow);
  line-height: var(--main-line-height);
}

/* events */
.events {
  padding: var(--main-padding) 0;
}

.events .container {
  display: flex;
  align-items: center;
}

.events .container>div {
  flex: 1;
}

.events .container .img {
  margin: 60px;
}

.events .container .img img {
  width: 100%;
}

.events .container .content {
  text-align: center;
  padding: 20px;
}

.events .container .content .counter {
  margin-bottom: 70px;
  width: 100%;
}

.events .container .content .counter span {
  color: var(--main-color);
  font-size: 40px;
  font-weight: bold;
  padding: 0px 10px;
  margin: 0 5px;
  border: 1px solid var(--main3-coler);
  border-radius: 10px 10px 0px 0px;
  position: relative;
  transition: var(--main-tansition);
}

@media (max-width:991px) {

  .events .container .img {
    display: none;
  }

  .events .container .content .counter span {

    padding: 0px 5px;
  }
}

.events .container .content .counter span::before {
  content: attr(time-name);
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: var(--main3-coler);
  font-weight: 400;
  width: 100%;
  padding: 4px 0;
  border: 1px solid var(--main3-coler);
  border-radius: 0px 0px 10px 10px;
}

.events .container .content .counter span:hover::before,
.events .container .content .counter span:hover {
  border-color: var(--main-color);
}

.events .container .content h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.events .container .content p {
  color: var(--main3-coler);
  line-height: var(--main-line-height);
}

.events form {
  background-color: var(--main2-color);
  width: fit-content;
  margin: 0 auto;
  padding: 25px;
  border-radius: 50px;
  position: relative;
  z-index: 2;
}

.events form [type="email"] {
  padding: 15px;
  margin-right: 10px;
  border-radius: 50px;
  border-color: transparent;
}

.events form [type="email"]:focus {
  outline: none;
}

.events form [type="submit"] {
  border-color: transparent;
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  transition: var(--main-tansition);
}

.events form [type="submit"]:hover {
  background-color: #1a76c2;
}

/* pricing */
.pricing {
  padding: var(--main-padding) 0;
  background-color: var(--main2-color);
}

.pricing .container .pricing-cards .card {
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 10px 1px var(--main-shadow);
  z-index: 2;
  width: 300px;
  overflow: hidden;
}

.pricing .card:nth-child(2) .content>span {
  position: absolute;
  right: -15px;
  padding: 7px;
  top: 44px;
  transform: rotate(90deg);
  color: white;
  font-size: 20px;
  background: var(--main-color);
}

.pricing .card:nth-child(2) .content>span::after,
.pricing .card:nth-child(2) .content>span::before {
  top: 0px;
  content: "";
  position: absolute;
  transform: skewX(45deg);
  background: var(--main-color);
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 20px;
}

.pricing .card:nth-child(2) .content>span::before {
  transform: skewX(45deg);
}

.pricing .card:nth-child(2) .content>span::after {
  transform: skewX(315deg);
}

.pricing .container .pricing-cards .card .content {
  text-align: center;
  padding: 15px;
  position: relative;
}

.pricing .container .pricing-cards .card .content h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.pricing .container .pricing-cards .card .content img {
  width: 75px;
}

.pricing .container .pricing-cards .card .content h1 {
  color: var(--main-color);
  font-size: 60px;
  position: relative;
}

.pricing .container .pricing-cards .card .content h1::before {
  content: "ber month";
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  color: var(--main3-coler);
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.pricing .container .pricing-cards .card .info {
  position: relative;
}

.pricing .container .pricing-cards .card .info::before,
.pricing .container .pricing-cards .card .content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #9e9e9e4b;
  top: 0px;
  transition: var(--main-tansition);

}

.pricing .container .pricing-cards .card .content::before {
  right: -100%;
}

.pricing .container .pricing-cards .card .info::before {
  left: -100%;
}

.pricing .container .pricing-cards .card:hover .info::before {
  left: 0;
}

.pricing .container .pricing-cards .card:hover .content::before {
  right: 0;
}

.pricing .container .pricing-cards .card .info h4 {
  padding: 15px 40px;
  border-top: 1px solid var(--main-shadow);
}

.pricing .container .pricing-cards .card .info a {
  margin: 15px 77px;
  width: fit-content;
  padding: 15px 20px;
  display: inline-block;
  color: var(--main-color);
  border: 1px solid;
  border-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  transition: var(--main-tansition);
  position: relative;
}

.pricing .container .pricing-cards .card .info a:hover {
  color: white;
  background: var(--main-color);
}

@media (min-width:1200px) {

  .pricing .container .pricing-cards .card:first-child,
  .pricing .container .pricing-cards .card:last-child {
    transform: translateY(30px);
  }

}

/* videos  */
.videos {
  padding: var(--main-padding) 0;
}

.videos .fream {
  display: flex;
  background-color: #dcdcdc;
  border: 1px solid var(--main-shadow);
  justify-content: center;
}

@media (max-width:991px) {
  .videos .fream {
    flex-direction: column;
  }

}

.videos .list {
  flex-basis: 25%;
  position: relative;
  background-color: var(--main2-color);
}

.videos .list h3 {
  display: inline-block;
  padding: 20px;
}

.videos .list i {
  padding: 20px;
  right: 0;
  position: absolute;
}

.videos .list .top-videos .video {
  padding: 20px;
  background-color: white;
  margin-bottom: 1px;
  transition: var(--main-tansition);
}

.videos .list .top-videos .video:hover {
  background-color: #fafafa;
}

.videos .list .top-videos .video p {
  margin-bottom: 7px;
  transition: var(--main-tansition);

}

.videos .list .top-videos .video:hover p {
  color: var(--main-color);
}

.videos .list .top-videos .video span {
  color: var(--main-shadow);
}

.videos .content {
  flex-basis: 75%;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videos .content img {
  width: 100%;
}

.videos .content form input {
  width: 100%;
  width: 100%;
  border-style: none;
  height: 60px;
  padding: 15px;

}

/* stats */
.stats {
  padding: var(--main-padding) 0;
  background-image: url(../img/stats.jpg);
  background-size: cover;
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.stats .container>h2 {
  text-align: center;
  position: relative;
  font-size: 40px;
  margin-bottom: 30px;
}

.stats .boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stats .boxs .box {
  position: relative;
  text-align: center;
  flex-basis: 201px;
  overflow: hidden;
  margin: 20px 10px;
  background-color: white;
  padding: 20px;
}

.stats .boxs .box::before,
.stats .boxs .box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: var(--main-color);
  transition: var(--main-tansition);
}

.stats .boxs .box::before {
  left: 0%;
  bottom: -100%;
}

.stats .boxs .box::after {
  right: 0;
  top: -100%;
}

.stats .boxs .box:hover::before {
  bottom: 0;
}

.stats .boxs .box:hover::after {
  top: 0;
}

.stats .boxs .box i {
  margin-bottom: 15px;
  font-size: 30px;
}

.stats .boxs .box p {
  font-weight: bold;
  font-size: 50px;
}

.stats .boxs .box span {
  color: var(--main-color);
  font-weight: bold;
}

/* discount */
.discount {
  display: flex;
}

.discount>div {
  text-align: center;
  flex-basis: 50%;
  padding: 80px 20px;

}

@media (max-width:991px) {
  .discount {
    flex-direction: column;
  }
}

.discount .text {
  animation: background 5s linear infinite alternate;
  background-size: cover;
  position: relative;
  color: white;
}

.discount .text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background-color: #2196f3ed;
}

.discount .text>* {
  position: relative;
}

.discount h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.discount .text p {
  line-height: var(--main-line-height);
}

.discount .text img {
  width: 300px;
  margin: 30px 0;
}

.discount .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount .form form textarea,
.discount .form form input:not(:last-child) {
  width: 350px;
  margin-bottom: 30px;
  padding: 15px;
  border-style: none;
  background-color: whitesmoke;
  border-bottom: 1px solid #ccc;
  caret-color: var(--main-color);
}

.discount .form form textarea {
  height: 150px;
  resize: none;
}

.discount .form form textarea:focus,
.discount .form form input:not(:last-child):focus {
  outline: none;
}

.discount .form form input[type="submit"] {
  width: 350px;
  font-size: 20px;
  color: white;
  background-color: var(--main-color);
  border: none;
  padding: 15px;
  font-weight: bold;
  transition: var(--main-tansition);
}

.discount .form form input[type="submit"]:hover {
  background-color: #1a76c2;
}

/* footer  */
footer {
  padding: var(--main-padding) 0;
  background-color: #1d1d1d;
  color: var(--main-shadow);
}

footer .container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

footer .content h1 {
  font-size: 50px;
  margin: 0 0 20px;
  color: white;
}

footer .content .icons a:first-child:hover i {
  background-color: #1a76c2;
}

footer .content .icons a:nth-child(2):hover i {
  background-color: #2196f3;
}

footer .content .icons a:last-child:hover i {
  background-color: red;
}

footer .content .icons a i {
  padding: 15px;
  font-size: 20px;
  margin: 0 5px;
  color: #bebebe;
  background-color: #4a4a4a;
  transition: var(--main-tansition);
}

footer .content p {
  padding: 20px 0;
  line-height: var(--main-line-height);
}

footer .links {
  width: 100%;
}

footer .links a {
  display: block;
  font-size: 17px;
  padding: 10px 10px 10px 30px;
  text-transform: capitalize;
  font-weight: 300;
  position: relative;
  transition: var(--main-tansition);
}

footer .links a::before {
  content: "\f101";
  font-family: 'FontAwesome';
  left: 0px;
  position: absolute;
  bottom: 10px;
  color: var(--main-color);
}

footer .links a:hover {
  transform: translateX(7px);

}

footer .links li:not(:last-child) {
  border-bottom: 1px solid #5a5a5a;
}

footer .info {
  display: flex;
}

footer .info .ic {
  display: flex;
  flex-direction: column
}

footer .info .ic i {
  font-size: 25px;
  color: var(--main-color);
  padding: 15px;
  margin-bottom: 10px;
}

footer .info .text {
  display: flex;
  flex-direction: column
}

footer .info .text p {
  line-height: var(--main-line-height);
  margin-bottom: 10px;
}

footer .img img {
  width: 80px;
  border: 5px solid white;
}

@media (max-width:767px) {
  footer .img img {
    width: 60px;
  }
}

footer h4 {
  font-weight: 400;
  text-align: center;
  border-top: 1px solid #5a5a5a;
  padding: 30px;
  word-spacing: 10px;
}